{% trans_default_domain 'game_updates' %}
<div class="game-updates">
    {% set lastDate = null %}
    {% for update in updates %}
        {% if update.parameters['%winner_id%'] is defined %}
            {% set user = user(update.parameters['%winner_id%']) %}
        {% elseif update.parameters['player_id'] is defined %}
            {% set user = user(update.parameters['player_id']) %}
        {% endif %}
        {% set formattedDate = update.dateCreated|localizeddate('long', 'none') %}
        {% if lastDate != formattedDate %}
            <div class="date-header">{{ formattedDate }}:</div>
            {% set lastDate = formattedDate %}
        {% endif %}
        {# New Player message#}
        {% if update.type == 'new.player' %}
            {% set icon %}
                <img src="{{ user.profilePicture }}" />
            {% endset %}
            {% set content %}
                <h4>{{ update.title|trans({ '%player%': user.username}) }}</h4>
                <p>.. {{ 'new.player.and.said'|trans }}: <em>"{{ update.description }}"</em></p>
            {% endset %}
        {# Game started #}
        {% elseif update.type == 'game.started' %}
            {% set icon %}
                <span class="glyphicon glyphicon-flag"></span>
            {% endset %}
            {% set content %}
                <h4>{{ update.title|trans(update.parameters) }}</h4>
                <p>{{ update.description|trans(update.parameters) }}</p>
            {% endset %}
        {# Match updated #}
        {% elseif update.type == 'match.updated' %}
            {% set icon %}{% endset %}
            {% set p1 = user(update.parameters['player_1_id']) %}
            {% set p2 = user(update.parameters['player_2_id']) %}
            {% set content %}
            <h4>
            {{ 'p1.won.agianst.p2'|trans({
                '%player_1_name%': p1.username,
                '%player_1_score%': update.parameters['%player_1_score%'],
                '%player_2_name%': p2.username,
                '%player_2_score%': update.parameters['%player_2_score%'],
            }) }}
            </h4>
            <div class="scoreboard">
                <div class="player1">
                    <img src="{{ p1.profilePicture }}" />
                    <div class="score">{{ update.parameters['%player_1_score%'] }}</div>
                </div>
                <div class="player2">
                    <img src="{{ p2.profilePicture }}" />
                    <div class="score">{{ update.parameters['%player_2_score%'] }}</div>
                </div>
                <div class="clearfix"></div>
            </div>
            {% endset %}
        {% elseif update.type == 'round.played' %}
            {% set icon %}
                <span class="glyphicon glyphicon-ok"></span>
            {% endset %}
            {% set content %}
                <h4>{{ update.title|trans(update.parameters) }}</h4>
                <p>{{ update.description|trans(update.parameters) }}</p>
            {% endset %}
        {% elseif update.type == 'tournament.winner' %}
            {% set icon %}
                <span class="glyphicon glyphicon-star"></span>
            {% endset %}
            {% set content %}
                <h3>{{ 'tournament.ended.title'|trans }}</h3>
                <div class="tournament-ended">
                    <p>{{ 'tournament.ended.description'|trans(update.parameters) }}</p>
                    <img class="img-responsive" src="{{ user.profilePicture }}" />
                </div>
            {% endset %}
        {# Regular updates #}
        {% else %}
            {% set icon %}{% endset %}
            {% set content %}
                <h4>{{ update.title|trans(update.parameters) }}</h4>
                <p>{{ update.description|trans(update.parameters) }}</p>
            {% endset %}
        {% endif %}
        <div class="update {{ update.type|replace({'.':'-'}) }}">
            <div class="icon-container">{{ icon }}</div>
            <div class="content-container">{{ content }}</div>
        </div>
    {% endfor %}
</div>